/* 弹出框 */
.c-dialog{
	position: absolute;
	z-index: 88;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
.c-dialog .dialog-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	z-index: -6;
	opacity: 0.8;
}
.c-dialog .con{
	width: 100%;
	height: calc(50% + 6rem);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: none;
	border-radius: 6px;
	padding: 0.1rem 0.1rem;
	z-index: -4;
	border:none;
}
.c-dialog .dialog-body{
	width: 70%;
	height: calc(100% - 14rem);
	overflow: auto;
	margin: 12rem auto auto;
	color: #ffffff;
}
.c-dialog .dialog-btns{
	position: absolute;
	bottom: -6rem;
	width: 3rem;
	height: 3rem;
	left: calc(50% - 1.5rem);
}
.c-dialog .dialog-btns .btn{
	width: 100%;
	height: 100%;
}
.c-dialog .dialog-btns .btn img{
	width: 100%;
	height: 100%;
}
.c-dialog .con .con-bg-img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.c-login-dialog .con{
	height: 26rem;/*采用固定高度，防止安卓软键盘弹出导致body压缩，挤压弹出框*/
}
.c-login-dialog .dialog-body{
	width: 80%;
	height: 100%;
	margin: auto;
	background-color: #fff;
	border-radius: 2rem;
}
.c-login-dialog .con .con-bg-img{
	display: none;
}

.c-login-dialog .dialog-body .inputS{
	width: 100%;
    height: 100%;
    padding: 2rem 0;
}
.inputS .c-row{
	height: 4.4rem;
	line-height: 2rem;
	border: none;
	padding: .5rem 2rem;
    padding-top: 0.5rem;
	display: flex;
	align-items: center;
}
.inputS .c-row .c-label {
	width: 1.8rem;
	padding: 0;
}
.inputS .c-row .c-label img {
	width: 100%;
	max-height: 100%;
	display: block;
}
.inputS .c-row .info{
	margin-left: 1rem;
	line-height: 2rem;
	width: calc(100% - 3rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inputS .c-row .info span {
    font-size: 1.4rem;
}
.inputS .c-row .info span input{
	width: 100%;
	font-size: 1.4rem;
	height: 2rem !important;
	display: block;
	border: 0;
	outline: none;
	line-height: 2rem;
}
.inputS .c-row .info span #phone_code::-webkit-input-placeholder{
	font-size: 1.4rem;
}
.inputS .c-row .info span #phone_code::-moz-placeholder{
	font-size: 1.4rem;
}
.inputS .c-row .info span #phone_code::-ms-input-placeholder{
	font-size: 1.4rem;
}
.inputS .c-row .info .get-check-code{
	display: block;
    font-size: 1.2rem;
    height: 3rem;
    line-height: 3rem;
    color: #3eb7ef;
    background-color: #c4e9fa;
    border-radius: 0.5rem;
    width: 9rem;
    text-align: center;
    text-decoration: none;
}
.inputS .c-row .info #verificationCode{
	width: 9rem;
	height: 3rem;
}
.inputS .c-row .info #verificationCode #code_img{
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}
.inputS .cut-line{
	background-color: #fff;
	padding: 0 1rem;
}
.inputS .cut-line .cut-line-content{
	background-color: #d9d9d9;
	height: 1px;
	margin: 0 1rem;
}
.inputS .do-btn-div {
	width: 80%;
	margin: 4rem auto auto;
}
.inputS .do-btn-div img{
	width: 100%;
}