.shop {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	left: 0;
	background-image: linear-gradient(#0b0520, #210919);
}
.shop .banner{
	width: 100%;
}
.shop .banner img{
	width: 100%;
}
.shop .content .information{
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}
.shop .content .information img{
	width: 100%;
}
.shop .tag {
	height: 2.6rem;
	position: absolute;
	right: 0;
	z-index: 66;
	background-color: #310074;
	border-radius: 2rem 0 0 2rem;
}
.shop .tag span {
    display: block;
    color: #f6ffeb;
    z-index: 2;
    padding: 0 1.2rem;
    font-size: 1.4rem;
	line-height: 2.6rem;
}
.shop .rule {
	top: 5rem;
}
.shop .my-order {
	top: 8.6rem;
}
.shop .content {
	margin-top: -1px;
	position: relative;
	z-index: 1;
}
.shop .content .button {
	width: 100%;
	background: none;
	display: none;
}
.shop .content .button .info{
	text-align: center;
	color: #808080;
	font-size: 1.8rem;
	line-height: 1.8rem;
	margin-bottom: 1rem;
}
.shop .content .button .info a{
	color: #ffffff;
	text-decoration: underline;
	font-size: 1.6rem;
}
.shop .content .button .tab{
	width: 80%;
	margin: auto;
	height: 4rem;
	background-color: #fff;
	border-radius: 4rem;
}
.shop .content .button .tab .head-item{
	width: 100%;
	height: 100%;
	overflow-x: scroll;
    overflow-y: hidden;
	display: flex;
	border-radius: 4rem;
}
.shop .content .button .tab .head-item .item{
	/*width: 10rem;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: .5rem 0rem;
	border-radius: 2.2rem;
}
.shop .content .button .tab .head-item .item.on{
    background-image: linear-gradient(#fff137, #ff7403);
}
.shop .content .button .tab .head-item .item.on span{
	color: #6e1500;
}
.shop .content .button .tab .head-item .item span{
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: #acacac;
}
.shop .content .button .tab .head-item .item .product-name{
	color: #5e5e5e;
}
.shop .content .button .tab .head-item .item .month-txt{
	font-size: 1.0rem;
	line-height: 1.0rem;
	margin: .2rem 0;
}
.shop .content .button .tab .head-item .item .gift-txt{
	font-size: .8rem;
	line-height: .8rem;
	padding: 0 6px;
}
.shop .content .button .do-next{
	width: 80%;
	margin: 1rem auto auto;
	height: 3.6rem;
	border-radius: 4rem;
	background-image: linear-gradient(#14c987, #00a2ed);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.8rem;
}
.shop .content .button .btn{
	width: 80%;
	margin: .6rem auto auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.shop .content .button .btn .my-gift{
	width: 45%;
	height: 3.2rem;
	background-image: linear-gradient(#6f068b,#280536);
	color: #fff;
	line-height: 3.2rem;
	text-align: center;
	border-radius: 1.4rem;
}
.shop .content .button .btn .share{
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.shop .content .button .btn .share .share-logo{
	width: 50%;
}
.shop .content .button .btn .share .share-logo img{
	width: 100%;
}
.shop .content .button .btn .share .share-opt{
	width: 100%;
	height: 3.2rem;
	background-image: linear-gradient(#6f068b,#280536);
	color: #fff;
	line-height: 3.2rem;
	text-align: center;
	border-radius: 1.4rem;
}
.shop .content .button .txt{
	color: #763988;
	font-size: 1.6rem;
	line-height: 1.6rem;
	text-align: center;
	margin-top: 1rem;
}

/* 弹出框 */
.c-dialog{
	position: absolute;
	z-index: 88;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
.c-dialog .dialog-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	z-index: -6;
	opacity: 0.8;
}
.c-dialog .con{
	width: 100%;
	height: calc(50% + 6rem);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: none;
	border-radius: 6px;
	padding: 0.1rem 0.1rem;
	z-index: -4;
	border:none;
}
.c-dialog .dialog-body{
	width: 70%;
	height: calc(100% - 14rem);
	overflow: auto;
	margin: 12rem auto auto;
	color: #ffffff;
}
.c-dialog .dialog-btns{
	position: absolute;
	bottom: -6rem;
	width: 3rem;
	height: 3rem;
	left: calc(50% - 1.5rem);
}
.c-dialog .dialog-btns .btn{
	width: 100%;
	height: 100%;
}
.c-dialog .dialog-btns .btn img{
	width: 100%;
	height: 100%;
}
.c-dialog .con .con-bg-img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.c-login-dialog .con{
	height: 26rem;/*采用固定高度，防止安卓软键盘弹出导致body压缩，挤压弹出框*/
}
.c-login-dialog .dialog-body{
	width: 80%;
	height: 100%;
	margin: auto;
	background-color: #fff;
	border-radius: 2rem;
}
.c-login-dialog .con .con-bg-img{
	display: none;
}

.c-login-dialog .dialog-body .inputS{
	width: 100%;
    height: 100%;
    padding: 2rem 0;
}
.inputS .c-row{
	height: 4.4rem;
	line-height: 2rem;
	border: none;
	padding: .5rem 2rem;
    padding-top: 0.5rem;
	display: flex;
	align-items: center;
}
.inputS .c-row .c-label {
	width: 1.8rem;
	padding: 0;
}
.inputS .c-row .c-label img {
	width: 100%;
	max-height: 100%;
	display: block;
}
.inputS .c-row .info{
	margin-left: 1rem;
	line-height: 2rem;
	width: calc(100% - 3rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inputS .c-row .info span {
    font-size: 1.4rem;
}
.inputS .c-row .info span input{
	width: 100%;
	font-size: 1.4rem;
	height: 2rem !important;
	display: block;
	border: 0;
	outline: none;
	line-height: 2rem;
}
.inputS .c-row .info span #phone_code::-webkit-input-placeholder{
	font-size: 1.4rem;
}
.inputS .c-row .info span #phone_code::-moz-placeholder{
	font-size: 1.4rem;
}
.inputS .c-row .info span #phone_code::-ms-input-placeholder{
	font-size: 1.4rem;
}
.inputS .c-row .info .get-check-code{
	display: block;
    font-size: 1.2rem;
    height: 3rem;
    line-height: 3rem;
    color: #3eb7ef;
    background-color: #c4e9fa;
    border-radius: 0.5rem;
    width: 9rem;
    text-align: center;
    text-decoration: none;
}
.inputS .c-row .info #verificationCode{
	width: 9rem;
	height: 3rem;
}
.inputS .c-row .info #verificationCode #code_img{
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}
.inputS .cut-line{
	background-color: #fff;
	padding: 0 1rem;
}
.inputS .cut-line .cut-line-content{
	background-color: #d9d9d9;
	height: 1px;
	margin: 0 1rem;
}
.inputS .do-btn-div {
	width: 80%;
	margin: 4rem auto auto;
}
.inputS .do-btn-div img{
	width: 100%;
}
.shareFollowDiv {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2001;
	display: none;
}
.shareFollowDiv .shareFollowBg{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.shareFollowDiv .followHand{
	height: 100px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 999;
	animation: move 0.5s infinite;
	animation-direction: alternate;
}
.shareFollowDiv .followText {
	height: 100px;
	line-height: 190px;
	position: absolute;
	top: 20px;
	right: 68px;
	z-index: 999;
	color: #FCF5D4;
	font-size: 1.2rem;
	font-weight: bold;
	animation: move 0.5s infinite;
	animation-direction: alternate;
}




